/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2015, 10:28:31 AM
    Author     : lab111
*/

iframe
{
   display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-header
{
   //
}

.search
{
   float: right;
}
