/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2015, 10:28:31 AM
    Author     : lab111
*/

iframe
{
   display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand
{
   position:absolute;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    animation-name: example;
    animation-duration: 0.5s;
    
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%{margin-left: 42.5%  ;}
    100% {margin-left: 0%  ;}
}

/* Standard syntax */
@keyframes example {
   0%{margin-left: 42.5%  ;}
    100% {margin-left: 0%  ;}
}

.search
{
   float: right;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

